<nav>
  <div class="site-title">
    <a href="/"><h1>Blog WebSite</h1></a>
    <p>Youcef Rabia WebSite</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/Blogs/create">New One</a></li>
  </ul>
</nav>
